#lawnWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#gridLawn {
    display: grid;
    background-color: chartreuse;
    position: relative;
    top: 11vh;
}

.gridChild {
    background-image: url('../../textures/world/grass.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
}